<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>404</title>
</head>
<link rel="stylesheet" type="text/css" href="css/style.css">

<body>
  <h1> {{ message }} </h1>
  <div class="image-container">
    <img src="logo.svg" class="log-image" alt="loading..." />
  </div>
  <p class="zoom-area"><b>404</b> invalid url. </p>
  <section class="error-container">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>4</span>
  </section>
</body>

</html>